.App {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.App form {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.decks {
	position: relative;
	display: grid;
	width: 500px;
	margin: 0 auto;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	color: black;
}
.decks li {
	position: relative;
	display: flex;
	height: 100px;
	background: white;
	border-radius: 10px;
	border: 1px solid white;
	align-items: center;
	justify-content: center;
}

.decks li:hover {
	background: #fedcba;
}

.decks li button {
	position: absolute;
	font-size: 16px;
	top: 0;
	right: 0px;
	border: none;
	background: none;
}

.decks li button:hover {
	color: #ff0000;
}
.decks li button:active {
	outline: none;
	color: #ff8800;
}
